.parent{
    /* position: relative; */
    padding:5%;
    background-color: #78f305;
    height:50vh;
}
.child{
    /* position: absolute; */
    background-color: sienna;
    width: 40%;
    height:20vh;
    padding:10px;

}